.nuestroServicio {
    position: relative;
    overflow: hidden;
    background-color: #f1b647;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nuestroServicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.nuestroServicio:hover::before {
    -webkit-animation: shine 0.75s ease forwards;
    animation: shine 0.75s ease forwards;
}

@keyframes shine {
    0% {
        left: -100%;
    }

    100% {
        left: 150%;
    }
}

.nuestroServicio:hover {
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
}